.post-wrap div{
    border: 1px solid black;
    box-sizing: border-box;
}
.post-wrap{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.userId, .id, .title{
    font-weight: bold;
}
.userId, .id{
    width: 50%;
    text-align: center;
}
.title, .body{
    width: 100%;
    text-align: center;
}
.title{
    font-size: 20px;
}

.comments-wrap{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}
.comment-box{
    width: 24.7%;
    display: flex;
    flex-wrap: wrap;
    background-color: palegoldenrod;
}
.comment_item-id, .comment_item-postId{
    width: 50%;
    font-weight: bold;
}
.comment_item-name, .comment_item-email, .comment_item-body{
    width: 100%;
}
.comment-item{
    padding: 3px;
    border: 1px solid black;
    box-sizing: border-box;
}